<div id="faq">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @produce.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @produce.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @produce.formatted_price %>
</p>

<h3>Reviews</h3>
<% @produce.reviews.each do |review| %>
<p>
  <%= review.comments %>
  <br>
  Added on: <%= review.created_at %>
</p>
<% end %>

<h3>New Review</h3>
<%= render 'reviews/form'%>
</div>
<div class="button">
<%= link_to 'Edit', edit_produce_path(@produce) %> |
<%= link_to 'Back', produces_path %>
</div>
