<p id="notice"><%= notice %></p>

<p>
  <strong>Comments:</strong>
  <%= @review.comments %>
</p>

<p>
  <strong>Produce:</strong>
  <%= @review.produce.name %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<% if @review.produce.nil? %>
<%= link_to 'Back', reviews_path %>
<% else %>
<%= link_to 'Back', @review.produce %>
<% end %>
